:root {
  /* Backgrounds */
  --bg-main: #0e0e0e;
  --bg-secondary: #151515;

  /* Text */
  --text-main: #f5f5f5;
  --text-muted: #b5b5b5;

  /* Accents */
  --accent-main: #7b1e2b;    
  --accent-hover: #9c2a3a;
  --accent-detail: #2f6f5e;

}
